*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


.navbar{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    overflow: hidden;
    width: 100%;
    height: auto;
    z-index: 5;
    background-color: RGB(33, 37, 41);
}

.navbar img{
    width:35%;
    margin: 10px;
}


.navbar button{
    border-radius: 4px;
    color: RGB(155, 157, 159);
    margin: 10px;
    border: .4px solid RGB(155, 157, 159);
}

.container{
    position: relative;
    z-index: 1;
    background-image: url(assets/img/header-bg.jpg);
    min-width: 100%;
    height:35rem;
    background-size: cover;
    background-position: 55% 100%;
}



.container .text{
    position: relative;
    top: 11rem;
    color: white;
    text-align: center;
    font-style: italic;
    font-family: serif;
}

#texts-h3{
    font-size: 30px;
}
#texts-h1{
    margin-top: 1rem;
    font-size: 60px;
    font-family: sans-serif;
    font-weight: 800;
    line-height: 50px;
    font-style: normal;
}

 .container .btn{
    font-family: sans-serif;
    color: white;
    width: 15rem;
    height: 4rem;
    font-size: 20px;
    margin-top: 2rem;
    
}

.container-2 {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 5rem;
}

.container-2 h1 {
    font-size: 40px;
    font-weight:800;
}

.container-2 h6{
    color: RGB(108, 117, 125);
    font-family: serif;
    font-style: italic;
    font-size: 18px;
    padding-top: 1rem;
}

.container-2 i{
    background-color: RGB(255, 200, 3);
    font-size: 60px;
    color: white;
    padding: 2rem;
    border-radius: 50%;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.container-2 h3{
    font-weight: 800;
    margin-bottom: 2rem;
}

.container-2 h5{
    font-family: serif;
    color: RGB(108, 117, 125);
    width: 22rem;
}


.container-3{
    position: relative;
    width: 100%;
    height: auto;
    background-color: RGB(248, 249, 250);
    padding-top: 7rem;
}

.container-3 h1 {
    font-size: 50px;
    font-weight: 700;
}

.container-3 h6{
    font-size: 19px;
    font-family: serif;
    color: RGB(108, 117, 125);
    font-style: italic;
}

.container-3 h3{
    font-weight: 700;
}

.content {
    position: relative;
    width: 95%;
    height: auto;
    margin-top: 3rem;
}

.content img{
    display: block;
    width: 100%;
    height:auto;
}

.container-3 .overlay{
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    width:100%;
    height: 100%;
    background-color: RGB(254, 209, 55);
    opacity: 0;
    transition: 0.3s;
    cursor: pointer;
}


.content:hover .overlay {
    opacity: 0.9;
}

.content .plus{
    color: white;
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}



.container-4{
    width: 100%;
    height: auto;
    padding-top: 5rem;
    position: relative;
}

#h1-text{
    font-size: 50px;
    font-weight: 600;
}


#text-style{
    color: RGB(108, 117, 126);
    font-style: italic;
    font-family: serif;
    font-size: 18px;
}


.capture{
    margin-top: 5rem;
}


.capture img{
    width: 5rem;
    border-radius: 50%;
    border: 8px solid RGB(234, 236, 239);
    margin-left: 1rem;
    margin-right: 2rem;
}

.capture h2{
    font-weight: 600;
}


.texts{
    width: 16rem;
    text-align: start;
}


.container-5{
    width: 100%;
    height: auto;
    padding-top: 6rem;
    background-color: RGB(248, 249, 250);
    position: relative;
}

.container-5 h1{
    font-weight: 700;
    font-size: 40px;
    width: 20rem;
}

.teams{
    margin-top: 4rem;
}

.teams img{
    width: 15rem;
    border: 6px solid RGB(223, 224, 224);
    border-radius: 50%;
}

.teams h3{
    margin-top: 1rem;
    font-weight: 600;
}

.teams h6{
    font-family: serif;
    color:RGB(108, 117, 125);
    width: 20rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.internet i{
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
}


.container-6{
    width: 100%;
    height: auto;
    position: relative;
    padding-top: 3rem;
}

.container-6 img{
    width: 10rem;
    padding-bottom: 3rem;
}


.container-7{
    width: 100%;
    height: 58rem;
    background-color: black;
    object-fit: cover;
    background-position: 45% 100%;
    background-image: url(assets/img/map-image.png);
}


.container-7 h1{
    color: white;
}

.container-7 h6{
    color: RGB(108, 117, 125);
    font-family: serif;
    font-style: italic;
    font-size:18px;
}

.container-7 input{
    width: 92%;
    font-size: 22px;
    padding: 1rem;
    border-radius: 6px;
    margin-top: 1rem;
}

.container-7 textarea {
    width: 92%;
    border-radius: 6px;
    margin-top: 1rem;
}

.container-7 input:hover{
    outline: none;
}

.container-7 textarea:hover{
    outline: none;
}

.container-7 button{
    margin-top: 5rem;
    font-size: 20px;
    color: white;
    width: 15rem;
    height: 4rem;
}


.footer {
    width: 100%;
    height: 5rem;
}


@media only screen and (min-width:800px) {
    .container {
        height: 50rem;
    }
}